.container {
  display: grid;
  grid-template-areas: 'topNavigation topNavigation topNavigation' 'leftNavigation canvas propertiesPane';
  grid-template-rows: 70px auto;
  grid-template-columns: 350px auto 350px;
  width: 100%;
  min-height: 100%;

  .top-navigation {
    grid-area: topNavigation;
  }

  .left-navigation {
    grid-area: leftNavigation;
  }

  .canvas {
    grid-area: canvas;
  }

  .properties-pane {
    grid-area: propertiesPane;
  }
}
