.container {
  display: grid;
  grid-template-areas: 'topNavigation topNavigation topNavigation' 'leftNavigation canvas propertiesPane';
  grid-template-rows: 70px auto;
  grid-template-columns: 350px auto 350px;
  width: 100%;
  min-height: 100%;

  .top-navigation {
    grid-column: 1 / 4;
    grid-area: topNavigation;
    border-bottom: 1px solid #e8e8ef;
  }

  .left-navigation {
    grid-area: leftNavigation;
  }

  .canvas {
    grid-area: canvas;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#e8e8ef 20%, #fbfbfb 20%);
    background-size: 10px 10px;
    border: 1px solid #e8e8ef;
    border-top: 0;
  }

  .properties-pane {
    grid-area: propertiesPane;
  }
}
